header {
    background-color: #0c2840;
    position: sticky;
    top: 0;
    z-index: 999;
}

header div {
    margin-left: 30px;
    margin-right: 30px;
}

.header-text {
    font-size: 20px;
    color: papayawhip;
}

.header-text:hover {
    color: #0dcaf0;
}

.header-img {
    height:80px;
}