<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

<div class="container">
    <div class="wrapper">
        <div>
            <h1>Компания "Пандора"</h1>
            <p>Компания оказывает полный транспортно-экспедиционный сервис по доставке контейнеров, реф. контейнеров,
                балка, проектных негабаритных и специализированных грузов, включая морскую перевозку, перевалку в порту,
                перевозку по железной дороге, автодоставку, авиаперевозку, складское хранение и оказание полного 3PL
                сервиса.</p>
            <p>Обладаем многолетним опытом перевозок различной номенклатуры грузов из стран Азии и Европы, стран СНГ, по
                территориям России морским, железнодорожным и автомобильным видами транспорта. Оказываем широкий спектр
                сопутствующих
                услуг на всех этапах перевозки (таможенное оформление, страхование, хранение и т.д.).
                Наше представительство в разных странах способствует своевременной подачи контейнера под загрузку в
                любую точку мира. Наличие собственных контейнеров и арендованных судов гарантирует сроки доставки
                грузов.</p>
        </div>
        <img class="about-image" src="{{ url_for('static', filename='images/company/transport.jpg') }}"
             alt="Картинка с транспортом">
    </div>
</div>