<link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">

<header>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4">
        <a href="{{ url_for('index') }}">
            <img class="header-img" src="{{ url_for('static', filename='images/company/logo.png') }}" alt="Пандора" >
        </a>

        <ul class="nav">
            <li>
                <a class="nav-link header-text" href="{{ url_for('index') }}">О компании</a>
            </li>
            <li>
                <a class="nav-link header-text" href="{{ url_for('contacts') }}">Контакты</a>
            </li>
        </ul>
    </div>
</header>